﻿body {
    background-color:cadetblue;
}

.login-margin{
    padding-top:30px;
}

.login-panel
{
    min-width:350px;
    border-radius:6px;
    border:1px solid silver;
    background-color:#f6f3ff;
    padding:15px 10px 10px 10px;
}

.login-left-align{
    display:block !important;
    text-align:left;
}
.login-center-align{
    display:inline-block !important;
    text-align:center;
}

.login-copywrite-footer{
    color:white;
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: left;
}